{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="main_container">
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-6 border-end">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="main_image"><img src="{{ product.imageURL}}" alt="" class="index_image" width="350"> </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-3 right-side">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 style="color: black">{{ product.bookname }}</h3></span>
                        </div>

                        <hr>
                        <h5>given by {{ product.owner}}</h5>
                        <br>
                        <h3>{{ product.price }} AED</h3>
                        <div class="ratings d-flex flex-row align-items-center">
                        </div>

                        <div class="buttons d-flex flex-row mt-5 gap-3">
                            <input type=button class="btn btn-default" value="Contact Info"/>
                            <input type='button' class="btn btn-default" value="Deliver"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <style>
    body{
        background-color: white;
        height: 100%;
        width: 100%;
    }
     .main_container{

         margin-top: 100px;
         margin-bottom: 100px;
         background-color: snow;


    }
    .btn:hover
    {
        background:#00995b;
        color: white;

    }
    .btn{
        flex: 1;
        background: #08FF9B;
        font-weight: bold;
        color: white;
    }
    .container{
        margin-bottom: 100px

    }
    .card{
        background-color: snow;
    } </style>

</div>


{% endblock %}
