{% extends 'store/main.html' %}
{% load static %}
{% block backbutton %}

    <div class="backoval">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'store' %}"><div> <img style="height:70px; width: 70px; text-align: center" src="https://icons.iconarchive.com/icons/praveen/minimal-outline/256/back-icon.png"></div></a>
        </li>
    </div>

{% endblock %}

{% block content %}


<div class="main_container">
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-6 border-end">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="main_image">

                            {% if  product.image  %}
                            <img src="/static/{{ product.imageURL}}" class="index_image" width="350">
                            {% else %}
                            <img src="{{ product.image_alt}}"  class="index_image" width="350">
                            {%  endif %}

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-3 right-side">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 style="color: black">{{ product.bookname }}</h3></span>
                        </div>

                        <hr>
                        <h5>given by {{ product.owner}}</h5>
                        <br>
                        <h3>{{ product.price }} AED</h3>
                        <div class="ratings d-flex flex-row align-items-center">
                        </div>

                        <div class="buttons d-flex flex-row mt-5 gap-3">
                            <input type=button id="myBtn" class="btn btn-default" value="Contact Info"/>

                            <input type='button' class="btn btn-default" onclick="window.location='{% url 'shipping' %}';" value="Deliver"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
            <h2 style="flex:1">Contact Info</h2>
            <span class="close" style="">×</span>
        </div>
        <div class="modal-body">
          <p><br>Email : {{ product.owner.email }}</p>
          <p>Phone number : {{ product.owner.phone_number }}</p>
        </div>

      </div>

    </div>
</div>
    <style>
    body{
        background-color: white;
        height: 100%;
        width: 100%;
    }
     .main_container{

         margin-top: 100px;
         margin-bottom: 100px;
         background-color: snow;


    }
    .btn:hover
    {
        background:#00995b;
        color: white;

    }
    .btn{
        flex: 1;
        background: #08FF9B;
        font-weight: bold;
        color: white;
    }
    .container{
        margin-bottom: 100px

    }
    .card{
        background-color: snow;
    }
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

    /* The Close Button */
    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .modal-header {
        display:flex;
      background-color: #5cb85c;
      color: white;
    }

    .modal-body {padding: 2px 16px;}

    .modal-footer {
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
    }
    </style>
    <script>
    var modal = document.getElementById("myModal");

    var btn = document.getElementById("myBtn");

    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
      modal.style.display = "block";
    }

    span.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>

</div>


{% endblock %}
